los/stepFunctions/loanApplicationWorkflow.json
{
  "Comment": "Loan Application Workflow",
  "StartAt": "PerformCreditCheck",
  "States": {
    "PerformCreditCheck": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["creditCheck", "Arn"]
      },
      "Next": "UnderwritingDecision"
    },
    "UnderwritingDecision": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["underwritingEngine", "Arn"]
      },
      "Next": "IsApproved"
    },
    "IsApproved": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.decision",
          "StringEquals": "APPROVED",
          "Next": "ApprovalActions"
        },
        {
          "Variable": "$.decision",
          "StringEquals": "DENIED",
          "Next": "SendDenialNotification"
        }
      ]
    },
    "ApprovalActions": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SendApprovalNotification",
          "States": {
            "SendApprovalNotification": {
              "Type": "Task",
              "Resource": {
                "Fn::GetAtt": ["notificationSystem", "Arn"]
              },
              "Parameters": {
                "applicationId.$": "$.applicationId",
                "message": "Your loan application has been approved!",
                "recipient.$": "$.applicantEmail"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "EmitLoanApprovedEvent",
          "States": {
            "EmitLoanApprovedEvent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::events:putEvents",
              "Parameters": {
                "Entries": [
                  {
                    "Detail.$": "$",
                    "DetailType": "LoanApproved",
                    "Source": "com.loansystem.los",
                    "EventBusName": "LoanSystemEventBus"
                  }
                ]
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    },
    "SendDenialNotification": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["notificationSystem", "Arn"]
      },
      "Parameters": {
        "applicationId.$": "$.applicationId",
        "message": "We're sorry, but your loan application has been denied.",
        "recipient.$": "$.applicantEmail"
      },
      "End": true
    }
  }
}