los/stepFunctions/loanApplicationWorkflow.json
{
  "Comment": "Loan Application Workflow",
  "StartAt": "PerformCreditCheck",
  "States": {
    "PerformCreditCheck": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["creditCheck", "Arn"]
      },
      "Next": "UnderwritingDecision"
    },
    "UnderwritingDecision": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["underwritingEngine", "Arn"]
      },
      "Next": "IsApproved"
    },
    "IsApproved": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.decision",
          "StringEquals": "APPROVED",
          "Next": "SendApprovalNotification"
        },
        {
          "Variable": "$.decision",
          "StringEquals": "DENIED",
          "Next": "SendDenialNotification"
        }
      ]
    },
    "SendApprovalNotification": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["notificationSystem", "Arn"]
      },
      "Parameters": {
        "applicationId.$": "$.applicationId",
        "message": "Your loan application has been approved!",
        "recipient.$": "$.applicantEmail"
      },
      "End": true
    },
    "SendDenialNotification": {
      "Type": "Task",
      "Resource": {
        "Fn::GetAtt": ["notificationSystem", "Arn"]
      },
      "Parameters": {
        "applicationId.$": "$.applicationId",
        "message": "We're sorry, but your loan application has been denied.",
        "recipient.$": "$.applicantEmail"
      },
      "End": true
    }
  }
}